<div class="form-container">
  <h1>Login</h1>

  <%= form_for :session, url: "/login", html: {class: 'form-basic'} do |f| %>
    <div class='form-input'>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
   
    <div class='form-input'>
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>
     <br>
    <%= f.submit "Log In" %>
  <% end %>
</div>