<h1>Listing</h1>


<ul>  
<li> Title: <%= @listing.title %></li>
<li> Position: <%= @listing.position %></li>
<li> Employment Type: <%= @listing.employment_type %></li>
<li> Company: <%= @listing.company %></li>
<li> Location: <%= @listing.location %></li> 
</ul>


<%=button_to "Back to All Listings", listings_path, method: :get %>


<%= form_tag '/bookmarks', method: "post" do %>
    <%= hidden_field_tag :listing_id, @listing.id %>
    <%= hidden_field_tag :user_id, @current_user.id %>
    <%= submit_tag "Create Bookmark"%>
<% end %>





