<h1>New User Page<h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <br>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password, :autocomplete => "off"  %>
  <br>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :age %>
  <br>
  <%= f.text_field :age %>
  <br>
  <%= f.label :education %>
  <br>
  <%= f.select :education, ["Beyond College", "College", "Some College", "High School Diploma"] %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
<%=button_to "Back to Login", login_path, method: :get %>